.ProductSelection{
    display: flex;
    flex-direction: row;
}

.react-p5{
    padding:0 !important;
    height: 100vh;
}

.ProductSelection_animation{
    width: 40vw;
    height: 100vh;
    mix-blend-mode: overlay;
    background-size: cover;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
}

.ProductSelection_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    padding:0 0 0 2% ;
    margin-right: 2%;
}

.ProductSelection_filters_container{
    display: inline-flex;
    align-items:center;

    width:83%;
}

.ProductSelection_filters_container--1{
    height: 6vh;
}

.ProductSelection_filters_resume{
    margin-bottom: 0.25rem;
    width:83%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.ProductSelection_filter{
    height: 30%;
    border: 1px solid #4E4848;
    color: #260101;
    display:inline-flex;
    align-items: center;
    width: -webkit-fill-available;
}

.ProductSelection_filter:first-of-type{
    border-radius: 5px 0 0 5px;
}

.ProductSelection_filter:last-of-type{
    border-radius: 0 5px 5px 0;
}

#defaultCanvas0{
    width: 100% !important;
    height: 100% !important;
}

.ProductSelection_filter-1{
    background-color: #FFC300;
    color: #260101;


}

.ProductSelection_filter img{
    filter: invert(10%) sepia(9%) saturate(5206%) hue-rotate(321deg) brightness(93%) contrast(114%);
    height: 3rem;
}

.ProductSelection_filter-1 img{
    filter: invert(1);
    
}

.ProductSelection_filter_title{
    color: #fff;
}

.ProductSelection_filter:hover{
    background-color: #FFC300;
    color: #260101;


}

.ProductSelection_filter:hover img{
    filter: invert(1);

}

.ProductSelection_filter_text{
    margin-left: 5px;
}

.ProductSelection_products{
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.ProductSelection_editOptions{
    width: 100%;
    height: 15%;
}

.ProductSelection_productsOptions{
    width: 100%;
    height: 85%;
    position: relative;
}

.ProductSelection_productsOptions_scroll{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ProductSelection_options{
    width: 100%;
    margin-left: 20px;
    padding-right: 20px;
}

.Calculate{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height:10vh;
    /* background: linear-gradient(360deg, #4E4848 0%, rgba(78, 72, 72, 0) 96.4%, rgba(78, 72, 72, 0) 201.27%); */
}



.prueba_container{
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height:55vh;
}

.prueba{
    width: 100vw;
    height:400px;
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, transition;
}

.prueba_1{
    background-color:#4E4848;
}

.prueba_2{
    background-color:#FDC20B;
}