.ProductSelection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.react-p5{
    padding:2% 2% 0 2% !important;
}

.ProductSelection_animation{
    width: 100%;
    mix-blend-mode: overlay;
    background-size: cover;
    background-color: #FFC300;
}

.ProductSelection_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 2% 2% 2% ;
    
    
}

.ProductSelection_filters_container{
    width: 84.4%;
    background-color: #260101;
    height: 10vh;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.ProductSelection_filter{
    width: 160px;
    height: 70%;
    background-color: #4E4848;
    border-radius: 7.53333px;
    border: none;
    filter: drop-shadow(0px 8px 34px rgba(0, 0, 0, 0.41));
    color: #fff;
    display:flex;
    align-items: center;
}

.ProductSelection_filter-1{
    background-color: #FFC300;
    color: #260101;


}

.ProductSelection_filter img{
    
    height:-webkit-fill-available;
}

.ProductSelection_filter-1 img{
    filter: invert(1);
    
}

.ProductSelection_filter:hover{
    background-color: #FFC300;
    color: #260101;


}

.ProductSelection_filter:hover img{
    filter: invert(1);

}

.ProductSelection_products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-evenly;
}

.Calculate{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height:10vh;
    background: linear-gradient(360deg, #4E4848 0%, rgba(78, 72, 72, 0) 96.4%, rgba(78, 72, 72, 0) 201.27%);
}

.Calculate button{
    height: 70%;
    background: #FDC20B;
    border-radius: 7px;
    border: none;
    color:aliceblue;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.Calculate button:hover{
    background: linear-gradient(267.91deg, #312708 20.3%, #563428 91.96%);
    filter: drop-shadow(0px 2.73939px 8.21818px rgba(0, 0, 0, 0.25));
}